*{
    margin:0;
    padding: 0;
}

:root {
    --main-white: #ffffff;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
    --main-green: #448804;
    --secondary-green: #006400;
    --main-orange: #f59300;
}

.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 1200px;
    border: 2px solid var(--main-green	); /* Zelený rámeček */
    color: var(--main-green);
    background-color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .back-button .arrow {
   margin-right: 10px;
    transition: transform 0.2s ease;
  }
  
  .back-button:hover {
    background-color: var(--secondary-green);
    color: white;
  }
  
  .back-button:hover .arrow {
    transform: translateX(-2px);
  }

  .next-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 100px;
    border: 2px solid var(--main-green	); /* Zelený rámeček */
    color: var(--main-green);
    background-color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .next-button .arrow {
   margin-left: 10px;
    transition: transform 0.2s ease;
  }
  
  .next-button:hover {
    background-color: var(--secondary-green);
    color: white;
  }
  .next-button:hover .arrow {
    transform: translateX(2px);
  }
 


body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}
header {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
header img {
    width: 30%;
    border-radius: 10px;
    margin-top: 10px;
}
.info {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.accordion {
    width: 80%;
    margin: auto;
}
.accordion-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.accordion-header {
    background: var(--main-green);
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
}
.accordion-content {
    display: none;
    padding: 15px; 
}

.gallery img {
    width: 300px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.1);
}

.gallery_tenis img {
    margin-top: 100px;
    width: 500px;   
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lightbox-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 20px; right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.prev, .next {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 20px; }
.next { right: 20px; }