* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Základní styly */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fad91f;
  overflow-y: auto;
  height: 100%;
}

.back-video {
  width: 100%;
}

.nadpis {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 80px;
  margin-top: 0px;
  margin-left: 40%;
}

section {
  padding: 4rem 0 2rem;
}

.logo {
  position: absolute;
  width: 130px;
  margin-left: 37px;
  margin-top: 50px;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

.navbar {
  position: absolute;
  display: flex;
  column-gap: 5rem;
  margin-left: 300px;
}

.navbar a {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  color: red;
  border-bottom: 3px solid red;
}

.home-text {
  margin-left: 30%;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.home_img {
  position: absolute;
  height: 400px;
  width: 650px;
  margin-left: 1200px;
  margin-top: -50px;
}

.home_back {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 400px;
  margin-top: -40px;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 2rem;
}

.cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: 0.5rem;
}

.cars-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Responsivní design */
@media only screen and (max-width: 768px) {
  .navbar {
      position: static;
      margin-left: 0;
      justify-content: center;
  }

  .navbar a {
      font-size: 0.9rem;
  }

  .home-text {
      margin-left: 0;
      padding: 0 20px;
      text-align: center;
  }

  .home_img {
      position: static;
      margin: 20px auto;
      width: 80%;
      height: auto;
      max-width: 100%;
  }

  .home_back {
      height: auto;
  }

  .cars-container {
      justify-content: center;
  }

  .cars-container .box {
      width: calc(50% - 2rem); /* Upravte šířku boxů podle potřeby */
      margin: 20px;
  }
}
