:root {
    --main-white: #ffffff;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
    --main-green: #448804;
    --secondary-green: #006400;
    --main-orange: #f59300;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
    border: 2px solid var(--main-green	); /* Zelený rámeček */
    color: var(--main-green);
    background-color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.back-button .arrow {
   margin-right: 10px;
    transition: transform 0.2s ease;
}

.back-button:hover {
    background-color: var(--secondary-green);
    color: white;
}

.back-button:hover .arrow {
    transform: translateX(-2px);
}


.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #FF9800;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0f7fa;
}

th:first-child, td:first-child {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.note {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}