:root {
    --main-white: #ffffff;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #000000;
    --main-green: #448804;
    --secondary-green: #006400;
    --main-orange: #f59300;
}
/* Základní nastavení */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.back-button .arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.back-button:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

.back-button:hover .arrow {
    transform: translateX(5px);
}


/* Navigace */
nav {
    background-color: var(--secondary-green);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffeb3b;
}

/* Hero sekce */
.hero {
    background-color: var(--main-green);
    color: white;
    text-align: center;
    padding: 130px 20px;
    position: relative;
}
.hero h1{
    position: absolute;
    top: 20px;
    left: 880px;
}

.hero img {
    width: 140px;
    position: absolute;
    top: 100px;
    left: 920px;
}

/* Hlavní obsah */
main {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sekce */
h2 {
    color: #2e7d32;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Galerie */
.gallery {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.image-container img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

/* Boční nabídka */


.menu-btn {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.menu-btn:hover {
    background: #388e3c;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: none;
}

.menu.show {
    display: block;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.menu li a:hover {
    background: #c8e6c9;
}


